
Sherr.xcodeproj/project.xcworkspace/xcuserdata/sassembla.xcuserdatad/UserInterfaceState.xcuserstate

Sherr.xcodeproj/xcuserdata/sassembla.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

Sherr.xcodeproj/xcuserdata/sassembla.xcuserdatad/xcschemes/xcschememanagement.plist
